.navbar .navBar-expand{12-sm|3-md|3-lg|3-xl|3-xxl} {

}

:root {
    background-color: #F2FFE9;
    font-family: 'Poppins', sans-serif;
}

header {
    border-bottom: blue;
    border: 20px;
    background-color: #A6CF98;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#navBar h1 {
    display: flex;
    font-size: 40px;
    padding-left: 20px;
}


#navigation {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}

#navigation a {
    text-decoration: none;
}

h2 {
    text-align: center;
    padding: 50px;
}

.jumbotronImage {
    width: 20%;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.p-5 {
    display: flex;
}

#skills {
    align-items: center;
    justify-content: center;
}

.card img {
    height: 400px;
}